html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#cartIcon {
    color: white;
    position: relative;
    text-decoration: none;
}

#cartIcon .badge {
    font-size: 0.8rem;
    padding: 0.4em 0.6em;
    display: none; /* Initially hidden */
}

.media-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #121212;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
}

.media-player.hidden {
  display: none;
}

.player-left {
  display: flex;
  align-items: center;
}

.track-cover {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 10px;
    object-fit: cover;
    display: block; /* Ensure default display is block when visible */
}

.track-cover.hidden {
    display: none; /* Hide cover when no track is playing */
}


.track-info {
  display: flex;
  flex-direction: column;
}

.track-title {
  font-size: 0.9rem;
  font-weight: bold;
}

.track-artist {
  font-size: 0.8rem;
  color: #bbb;
}

.player-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.player-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.control-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.control-button:hover {
  color: #1db954;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#progress-bar {
  flex: 1;
  background: #444;
  height: 5px;
  border-radius: 5px;
}

.player-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

#volume-slider {
  width: 100px;
}
